.header{
    // background-color: #1C1C1E;
    background-color: #181A26;

}

#logo{
    color: #FFFFFF;
}

.nav-link{
    color: #FFFFFF;
}

.nav-link:hover{
    color: #C3C4C8  ;
}

.btn-cred{
    // background-color: #e61815;
    background: -webkit-linear-gradient(right, #c9100c, #e61815 );
    font-weight:600;
    transition: 0.3s;
    border-radius: 20px;
    border: none;
    width: 7rem;
}


.btn-cred:hover{
    // background-color: #c9100c;
    box-shadow: 0px 1px 15px #ee2925;

}

.btn-cred:visited{
    background-color: #c9100c;

}