
.task-form-wrapper{
    background-color: white;
    border: none;
    border-radius: 10px;
    width: 35%;
    margin: auto;
    margin-top: 4rem;
    text-align: left;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-title{
    padding: 4rem 5rem 0 5rem;
    font-weight: bold;
}

.form{
    // border: none;
    padding: 4rem 5rem 3rem 5rem;
}

.form-label{
    font-weight: bold;
}

.input-field {
    background-color: #e6e7e8;
    border: none;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-shadow:none !important;
    transition: 0.2s;
}

.input-field:focus{
    background-color: #dedcdc;
}


.form-btn{
    background-color: #e61815;
    border: none;
    margin-top: 2rem;
    font-weight: bold;
    border-radius: 20px;
    width: 10rem;
}

.form-btn:hover {
    background-color: #c9100c;
}
