

.user-form-wrapper{
    background-color: white;
    border-radius: 10px;
    // width: 60%;
    width: 90%;
    margin: auto;
    margin-top: 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.user-form-title{
    margin-top: 4rem;
    margin-left: 1rem !important;
    font-weight: bold;
}

.user-form{
    padding: 1rem 2rem 3rem 2rem;
}

.form-label{
    font-weight: bold;
}

.input-field {
    background-color: #e6e7e8;
    border: none;
    margin-bottom: 1rem;
    font-family: 'Roboto', sans-serif;
    outline: none;
    box-shadow:none !important;
    transition: 0.2s;
}

.input-field:focus{
    background-color: #dedcdc;
}

.btn-submit{
    background: -webkit-linear-gradient(right, #c9100c, #e61815 );
    border-radius: 20px;
    border: none;
    width: 9rem !important;
    font-weight:600;
    transition: 0.3s;
}

.btn-submit:hover{
    box-shadow: 0px 1px 15px #ee2925;
}

#membership{
    display: flex;
    padding-top: 0.4rem;
    font-weight:600;
    justify-content: flex-end;
}

@media only screen and (min-width: 992px) {
    .user-form-wrapper{
        // width: 60%;
        width: 60%;
        margin: auto;
        margin-top: 4rem;
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
}

@media only screen and (min-width: 1200px) {
    .user-form-wrapper{
        width: 50%;
        margin: auto;
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 1400px) {
    .user-form-wrapper{
        width: 40%;
        margin: auto;
        margin-top: 4rem;
    }
}
@media only screen and (min-width: 1600px) {
    .user-form-wrapper{
        width: 35%;
        margin: auto;
        margin-top: 4rem;
    }

    .user-form{
        padding: 1rem 3rem 3rem 3rem !important;
    }
    .user-form-title{
        margin-left: 2.20rem !important;
        // padding: 0 !important;

        // display: flex;
        // justify-content: start;
    }
}
